In [1]:
# Дисклеймер:
# что делает код - написано комментариями в ячейках кода.
# Код написан не для продакшена, а на "скорую руку" для анализа

# 1. Импортирование библиотек

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# 2. Загрузка данных

In [3]:
prolongations = pd.read_csv('data/prolongations.csv')
financial_data = pd.read_csv('data/financial_data.csv')

**Описание колонок**:

**prolongations.csv**:
- id – id проекта;
- month – последний месяц реализации проекта;
- AM – ФИО ответственного аккаунт-менеджера (данные первичны по отношению к financial_data).

**financial_data.csv**:
- id – id проекта;
- Причина дубля – причина, почему строки с одним и тем же id встречаются несколько раз;
- Колонки с названием месяца – сумма отгрузки проекта в данный месяц;
- Account – ФИО ответственного аккаунт-менеджера.

В колонках с названием месяца таблицы *financial_data* могут также встречаться такие значения: ‘в ноль’ –  отгрузка проекта в данном месяце равна 0, значит для коэффициента пролонгации нужно взять отгрузку предыдущего месяца (только если все части оплаты равны 0); ‘стоп’ – проект закончился до истечения срока договора, если у проекта есть “стоп” в последний месяц реализации или ранее, то такой проект исключаем из пролонгаций; ‘end’ – аналогично ‘стоп’

# 3. Предобработка данных

### 3.1. Анализ таблицы `prolongations`

In [4]:
# посмотрим на данные 
prolongations.head()

    id        month                             AM
0   42  ноябрь 2022   Васильев Артем Александрович
1  453  ноябрь 2022   Васильев Артем Александрович
2  548  ноябрь 2022      Михайлов Андрей Сергеевич
3   87  ноябрь 2022  Соколова Анастасия Викторовна
4  429  ноябрь 2022  Соколова Анастасия Викторовна

In [5]:
# посмотрим на сводку датафрейма
prolongations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      477 non-null    int64
 1   month   477 non-null    object
 2   AM      477 non-null    object
dtypes: int64(1), object(2)
memory usage: 11.3+ KB

In [6]:
# посмотрим на количество уникальных элементов по столбцам
prolongations.nunique()

id       313
month     14
AM        10
dtype: int64

In [7]:
# посмотрим на дубликаты
prolongations.duplicated().sum()

np.int64(3)

In [8]:
# посмотрим на уникальные данные по всем колонкам, чтобы выявить необычные значения
for i in prolongations.columns:
    print(prolongations[i].unique())

[  42  453  548   87  429  600  657  594  665  586  637  419  578  579
  671  633  645  369  547  592  666  620  301  704   15   16  379   31
  572  573  574  575  576  448  492  597  708  719   39  328  716  613
  615  617  643   45  318   46   49  603  441  461  717  112  630  154
  418  456  457  454  455  693  654  475  193  390  477  478  535  709
  581  623  196  199  705  629  720  228  242  471  596  714  266  498
  703  524  274  281  583  697  626  684  493  674  728  624  107  721
  509  649  687  519  230  732  529  348  381  556  640  101  690  653
  744  174  667  180  190  691  273  785  530  549  686  726   56  783
  692  647  683  506  540  646  768  713  244  562  682  580  789  797
  798  799  800   48  495  787  675  663  743  781  782  740  788  712
  825  361  804  838  771  765  294  814  796  853  563  829  837  775
  813  842  843  844  845  855  585  569  711  832   55  792  847  337
  858  610  857  869  807  884  806  871  553  848  346  830  727  211
  808  823  786  851  891  904  901  907  897  850  109  865  854  874
  673  803  648  889  268  916  929  914  923  846  819  898   86  676
  876  877  878  668  801  821  921  920  888  912  872  969  859  934
  960  946  831  933   83  460  963  748  841  822  935  931  940  941
  707  956  852  947  977  972  943  932  978  793  910  927  817  896
  998  886  866  997  954  873  900  899 1015  976 1012 1001  958  962
  742  772   54  966  975  925  656  944  887  879  818  751  747  746
  749  722  915  917  918 1006  979  739  752  791  890  868  951  777
  778  350  955 1004  913]
['ноябрь 2022' 'декабрь 2022' 'январь 2023' 'февраль 2023' 'март 2023'
 'апрель 2023' 'май 2023' 'июнь 2023' 'июль 2023' 'август 2023'
 'сентябрь 2023' 'октябрь 2023' 'ноябрь 2023' 'декабрь 2023']
['Васильев Артем Александрович' 'Михайлов Андрей Сергеевич'
 'Соколова Анастасия Викторовна' 'Иванова Мария Сергеевна'
 'Попова Екатерина Николаевна' 'Смирнова Ольга Владимировна'
 'Кузнецов Михаил Иванович' 'без А/М' 'Петрова Анна Дмитриевна'
 'Федорова Марина Васильевна']

**Вывод по `prolongations`:**

В таблице `prolongations` нет пропущенных значений. Колонка `month` имеет тип `object`, в будущем необходимо будет поменять эту колонку на тип дата. Имеюся дубликаты, которые скоро удалим. Также среди менеджеров есть непонятное имя 'без А/М', которое стот удалить.

### 3.2. Предобработка таблицы `prolongations`

In [9]:
# удалим из таблицы неизвестных менеджеров
prolongations = prolongations[prolongations['AM']!='без А/М']
# также удалим дубликаты
prolongations = prolongations.drop_duplicates()

### 3.3 Анализ таблицы `financial_data`

In [10]:
# посмотрим на данные
financial_data.head()

,id,Причина дубля,Ноябрь 2022,Декабрь 2022,Январь 2023,Февраль 2023,Март 2023,Апрель 2023,Май 2023,Июнь 2023,Июль 2023,Август 2023,Сентябрь 2023,Октябрь 2023,Ноябрь 2023,Декабрь 2023,Январь 2024,Февраль 2024,Account
0,42,NaN,"36 220,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
1,657,первая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
2,657,вторая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
3,594,NaN,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович
4,665,NaN,"10 000,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович

In [11]:
# посмотрим на общую сводку
financial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             451 non-null    int64
 1   Причина дубля  301 non-null    object
 2   Ноябрь 2022    156 non-null    object
 3   Декабрь 2022   159 non-null    object
 4   Январь 2023    139 non-null    object
 5   Февраль 2023   145 non-null    object
 6   Март 2023      168 non-null    object
 7   Апрель 2023    174 non-null    object
 8   Май 2023       190 non-null    object
 9   Июнь 2023      190 non-null    object
 10  Июль 2023      195 non-null    object
 11  Август 2023    199 non-null    object
 12  Сентябрь 2023  186 non-null    object
 13  Октябрь 2023   182 non-null    object
 14  Ноябрь 2023    171 non-null    object
 15  Декабрь 2023   146 non-null    object
 16  Январь 2024    95 non-null     object
 17  Февраль 2024   101 non-null    object
 18  Account        451 non-null    object
dtypes: int64(1), object(18)
memory usage: 67.1+ KB

In [12]:
# посмотрим на количество пропущенных значений по всем колонкам
financial_data.isna().sum()

id                 0
Причина дубля    150
Ноябрь 2022      295
Декабрь 2022     292
Январь 2023      312
Февраль 2023     306
Март 2023        283
Апрель 2023      277
Май 2023         261
Июнь 2023        261
Июль 2023        256
Август 2023      252
Сентябрь 2023    265
Октябрь 2023     269
Ноябрь 2023      280
Декабрь 2023     305
Январь 2024      356
Февраль 2024     350
Account            0
dtype: int64

In [13]:
# посмотрим есть ли дубликаты
financial_data.duplicated().sum()

np.int64(0)

In [14]:
# посмотрим на уникальные данные по всем колонкам, чтобы выявить необычные значения
for i in financial_data.columns:
    print(financial_data[i].unique())

[  42  657  594  665  637  419  578  579  592  666  620  704   16  379
   31  572  573  574  575  576  328  716  613  615  617  643  318  603
  461  717  418  456  457  454  455  693  654  475  193  390  477  478
  535  709  581  623  705  720  242  596  266  498  524  626  684  548
  493  674  624  721  509  687  230  703  529  453  429  381  556  640
  101  653  174  714  649  671  732  530  549  686   56  692  647  683
  506  540  646  697  799  800  675  663  788  728  667  825  838  765
  294  814  796  853  563  837  775  813  842  843  844  845  301  855
  583  585   15  711  832   55  441  847   87  600  787  858  857  869
  807  884  691  806  740  871  495  553  346  586  830  727  211  823
  786  891  904  901  907  897  580  719  848  337  180  854  803  648
  268  274  781  916  923  633  713  829  846  348  492  819  726  792
  898   86  676  876  877  878  668  821  921  920  361  912  872  969
  789  771  859  960  865  874  946  831  782  933   83  460  963  841
  822  935  768  931  707  852  972  943  929  978  793   48  107  910
  690  934  712  927  817  896  797  798  888  998  932  369  244  562
  886  866  997  954  873  900  273  899 1015  977  630  914  976 1012
  199  519  889  956  851 1001  448  569  597  947  708  850  958  962
   39  742  772   45   46   49   54  966  975  925  783  109  748  112
  656  744  801  944  887  879  818  154  751  747  746  749  722  743
  915  917  918 1006  979  190  196  645  739  673  752  791  610  629
  228  890  940  941  471  547  868  682  951  777  778  804  808  350
  955 1004  281  785  913  930]
[nan 'первая часть оплаты' 'вторая часть оплаты' 'изменение ЮЛ'
 'доп работы' 'основные работы' 'карты, банки']
['36\xa0220,00' 'стоп' '10\xa0000,00' '38\xa0045,00' nan '82\xa0800,00'
 'в ноль' '92\xa0302,00' '12\xa0340,00' '110\xa0000,00' '35\xa0365,00'
 '945,00' '4\xa0715,00' '55\xa0195,00' '55\xa0100,00' '56\xa0200,00'
 '69\xa0210,00' '46\xa0755,00' '25\xa0020,00' '36\xa0365,00'
 '116\xa0473,50' '18\xa0640,00' '3\xa0165,00' '17\xa0950,00'
 '103\xa0230,00' '27\xa0720,00' '160\xa0420,00' '91\xa0240,00'
 '104\xa0675,00' '88\xa0540,00' '55\xa0000,00' '81\xa0085,00'
 '150\xa0685,21' '100\xa0485,00' '164\xa0000,00' '221\xa0830,00'
 '7\xa0000,00' '76\xa0760,00' '44\xa0570,00' '29\xa0685,00' '13\xa0885,00'
 '66\xa0280,00' '85\xa0000,00' '152\xa0155,00' '33\xa0960,00'
 '96\xa0400,00' '41\xa0565,00' '45\xa0950,00' '70\xa0650,00'
 '252\xa0293,75' '674\xa0000,00' '36\xa0950,00' '10\xa0200,00'
 '89\xa0020,00' '17\xa0351,00' '18\xa0000,00' '16\xa0880,00'
 '59\xa0600,00' '65\xa0450,00' '67\xa0485,00' '99\xa0783,00'
 '40\xa0745,00' '17\xa0325,00' '75\xa0310,00' '30\xa0280,00'
 '34\xa0225,00' '65\xa0820,00' '4\xa0220,00' '43\xa0800,00' '68\xa0285,00'
 '127\xa0200,00' '28\xa0000,00' '44\xa0030,00' '47\xa0234,00'
 '108\xa0866,50' '47\xa0540,00' '153\xa0424,00' '41\xa0060,00'
 '4\xa0800,00' '227\xa0365,00' '202\xa0150,00' '90\xa0975,00'
 '6\xa0215,00' '122\xa0305,00' '52\xa0425,13' '66\xa0833,00'
 '55\xa0220,00' '92\xa0505,00' '329\xa0460,000' '109\xa0820,00'
 '94\xa0000,00' '70\xa0050,00' '237\xa0977,00' '43\xa0440,00'
 '73\xa0735,00' '52\xa0240,00' '99\xa0500,00' '22\xa0887,50'
 '79\xa0235,00' '170\xa0268,00' '40\xa0200,00' '14\xa0860,00'
 '40\xa0390,00' '388\xa0195,00' '14\xa0280,00' '27\xa0950,00'
 '24\xa0401,00' '148\xa0390,00' '6\xa0525,00' '47\xa0480,00'
 '52\xa0158,00' '54\xa0455,00' '42\xa0600,00' '324\xa0600,00'
 '85\xa0120,00' '106\xa0800,00' '54\xa0640,00' '25\xa0050,00'
 '218\xa0465,00' '64\xa0755,50' '76\xa0533,50' '194\xa0850,00'
 '19\xa0185,96' '343\xa0745,00' '137\xa0700,00' '35\xa0150,00'
 '37\xa0939,50' '85\xa0842,00' '202\xa0450,00' '57\xa0545,00'
 '149\xa0080,00' '53\xa0400,00' '58\xa0060,00' '135\xa0995,00'
 '25\xa0745,00' '28\xa0200,00' '68\xa0700,00' '89\xa0185,11'
 '144\xa0180,00' '28\xa0864,00' '274\xa0011,20' '76\xa0550,00'
 '21\xa0450,00']
[nan '55\xa0195,00' '55\xa0100,00' 'стоп' '110\xa0700,00' '18\xa0710,00'
 '2\xa0110,00' '20\xa0590,00' '103\xa0230,00' '27\xa0180,00'
 '34\xa0100,00' '92\xa0140,00' '55\xa0000,00' '82\xa0435,00'
 '231\xa0057,76' '100\xa0485,00' '190\xa0280,00' '220\xa0830,00'
 '90\xa0935,00' '44\xa0570,00' '65\xa0020,00' '20\xa0450,00'
 '66\xa0280,00' '85\xa0000,00' '149\xa0765,00' '31\xa0965,00'
 '4\xa0220,00' '29\xa0127,50' '88\xa0850,00' '29\xa0960,00' '45\xa0950,00'
 '74\xa0650,00' '296\xa0130,71' '674\xa0000,00' '36\xa0950,00'
 '11\xa0900,00' '95\xa0035,00' '26\xa0034,00' '18\xa0000,00'
 '21\xa0100,00' '21\xa0000,00' '10\xa0500,00' '59\xa0600,00'
 '50\xa0150,00' '67\xa0485,00' '99\xa0958,50' '40\xa0745,00'
 '21\xa0480,00' '72\xa0900,00' '71\xa0060,00' '39\xa0245,00'
 '35\xa0580,00' '65\xa0820,00' '3\xa0165,00' '43\xa0800,00' '70\xa0445,00'
 '127\xa0200,00' '83\xa0050,00' '27\xa0820,00' '37\xa0000,00'
 '68\xa0805,00' '48\xa0280,00' '53\xa0608,50' '42\xa0297,00'
 '48\xa0410,00' '180\xa0056,00' '41\xa0020,00' '6\xa0220,00'
 '245\xa0595,00' '206\xa0440,00' '71\xa0000,00' 'в ноль' '91\xa0545,00'
 '10\xa0435,00' '116\xa0850,00' '52\xa0948,08' '780\xa0000,00'
 '70\xa0819,70' '62\xa0930,00' '40\xa0830,00' '107\xa0275,00'
 '329\xa0460,00' '109\xa0820,00' '83\xa0400,00' '144\xa0650,00'
 '30\xa0450,00' '52\xa0435,00' '39\xa0120,00' '602\xa0370,00'
 '97\xa0550,00' '22\xa0887,50' '79\xa0235,00' '170\xa0268,00'
 '40\xa0200,00' '14\xa0860,00' '57\xa0615,00' '41\xa0555,00'
 '18\xa0795,00' '388\xa0195,00' '124\xa0916,00' '30\xa0225,00'
 '84\xa0490,25' '148\xa0390,00' '18\xa0765,00' '57\xa0950,00'
 '66\xa0122,00' '51\xa0995,00' '40\xa0690,00' '7\xa0450,00'
 '324\xa0600,00' '85\xa0120,00' '106\xa0800,00' '54\xa0165,00'
 '68\xa0120,00' '187\xa0125,00' '64\xa0755,50' '72\xa0807,00'
 '190\xa0675,00' '19\xa0340,21' '501\xa0895,00' '137\xa0700,00'
 '126\xa0530,00' '47\xa0400,00' '37\xa0939,50' '85\xa0842,00'
 '94\xa0000,00' '194\xa0050,00' '57\xa0545,00' '149\xa0100,00'
 '48\xa0400,00' '46\xa0135,00' '135\xa0995,00' '26\xa0167,50'
 '28\xa0200,00' '68\xa0700,00' '74\xa0986,18' '104\xa0660,00'
 '23\xa0944,00' '287\xa0852,80' '79\xa0950,00' '13\xa0300,00']
[nan '83\xa0880,00' '243\xa0591,67' '674\xa0000,00' '36\xa0950,00'
 '11\xa0050,00' '100\xa0355,00' '27\xa0422,00' '30\xa0400,00'
 '21\xa0000,00' '14\xa0700,00' '59\xa0600,00' '34\xa0000,00'
 '67\xa0485,00' '99\xa0958,50' '60\xa0900,00' '71\xa0060,00'
 '44\xa0320,00' '35\xa0830,00' '71\xa0735,00' '3\xa0165,00' '43\xa0800,00'
 '70\xa0445,00' '127\xa0200,00' '96\xa0750,00' '26\xa0555,00'
 '2\xa0745,00' '37\xa0000,00' '67\xa0835,00' '3\xa0395,00' '44\xa0030,00'
 '47\xa0234,00' '77\xa0784,50' '24\xa0615,00' '52\xa0180,00'
 '68\xa0919,68' '42\xa0920,00' '5\xa0820,00' '263\xa0745,00'
 '220\xa0310,00' '4\xa0585,00' 'в ноль' '91\xa0545,00' '9\xa0475,00'
 '6\xa0330,00' '121\xa0500,00' '54\xa0291,08' '40\xa0620,00'
 '68\xa0879,70' '64\xa0070,00' '40\xa0830,00' '76\xa0450,00'
 '102\xa0433,75' '79\xa0820,00' '73\xa0380,00' '144\xa0650,00'
 '122\xa0570,00' '60\xa0135,00' '4\xa0220,00' '270\xa0325,00'
 '1\xa0520,00' '60\xa0021,00' '73\xa0580,00' '70\xa0950,00' '22\xa0887,50'
 '83\xa0810,00' '170\xa0268,00' '104\xa0319,00' '40\xa0200,00'
 '73\xa0610,00' '14\xa0860,00' '61\xa0925,00' '33\xa0155,00' '3\xa0580,00'
 '547\xa0400,00' '30\xa0225,00' '79\xa0787,50' '139\xa0440,00'
 '16\xa0110,00' '207\xa0030,00' '100\xa0166,40' '49\xa0765,00'
 '33\xa0685,00' '65\xa0780,00' '34\xa0850,00' '54\xa0735,00'
 '40\xa0030,00' '324\xa0600,00' '85\xa0120,00' '106\xa0800,00'
 '41\xa0500,00' '8\xa0140,00' '27\xa0735,00' '23\xa0735,00' '88\xa0975,00'
 '64\xa0743,00' '19\xa0158,00' '36\xa0415,00' '184\xa0016,00'
 '17\xa0928,09' '660\xa0475,00' '149\xa0206,50' '117\xa0455,00'
 '45\xa0570,00' '1\xa0055,00' '22\xa0200,00' '26\xa0930,00' '39\xa0838,50'
 '83\xa0358,00' '35\xa0000,00' '94\xa0000,00' '125\xa0530,00'
 '5\xa0700,00' '125\xa0000,00' '57\xa0545,00' '132\xa0100,00'
 '18\xa0000,00' '17\xa0800,00' '20\xa0300,00' '43\xa0015,50'
 '12\xa0343,50' '177\xa0595,00' '72\xa0325,00' '75\xa0570,00'
 '1\xa0525,00' '131\xa0425,00' '33\xa0127,50' '33\xa0885,00'
 '70\xa0470,00' '63\xa0305,10' '226\xa0420,00' '23\xa0944,00'
 '243\xa0732,70' '66\xa0900,00' '15\xa0900,00']
[nan '44\xa0775,00' '90\xa0965,00' '46\xa0995,00' '674\xa0000,00'
 '39\xa0600,00' '97\xa0555,00' '76\xa0500,00' '177\xa0635,00'
 '42\xa0830,00' '71\xa0735,00' '6\xa0330,00' 'стоп' '70\xa0445,00'
 '127\xa0200,00' '44\xa0030,00' '46\xa0958,50' '48\xa0173,50'
 '25\xa0672,50' '45\xa0800,00' '84\xa0605,00' '41\xa0555,00' '4\xa0110,00'
 '297\xa0695,00' '221\xa0040,00' '1\xa0425,00' '121\xa0500,00' 'в ноль'
 '103\xa0655,00' '10\xa0435,00' '39\xa0187,50' '18\xa0572,50'
 '48\xa0715,00' '62\xa0230,00' '5\xa0915,00' '68\xa0879,70' '88\xa0905,00'
 '49\xa0515,00' '74\xa0425,00' '102\xa0433,75' '87\xa0680,00'
 '83\xa0480,00' '144\xa0650,00' '114\xa0283,00' '56\xa0125,00'
 '4\xa0220,00' '35\xa0325,00' '15\xa0360,00' '60\xa0021,00' '39\xa0660,00'
 '74\xa0930,00' '171\xa0046,75' '191\xa0000,00' '139\xa0625,00'
 '43\xa0255,00' '122\xa0845,00' '170\xa0268,00' '60\xa0660,00'
 '40\xa0200,00' '64\xa0625,00' '14\xa0860,00' '62\xa0615,00'
 '34\xa0215,00' '12\xa0465,00' '1\xa0400,00' '3\xa0165,00' '547\xa0400,00'
 '30\xa0225,00' '68\xa0172,00' '119\xa0390,00' '9\xa0270,00'
 '107\xa0124,00' '219\xa0805,00' '96\xa0881,10' '50\xa0660,00'
 '33\xa0685,00' '61\xa0310,00' '39\xa0726,00' '80\xa0085,00'
 '40\xa0920,00' '93\xa0250,00' '28\xa0495,00' '37\xa0000,00'
 '35\xa0830,00' '324\xa0600,00' '85\xa0120,00' '106\xa0800,00'
 '47\xa0085,00' '40\xa0770,00' '5\xa0700,00' '64\xa0743,00' '70\xa0540,00'
 '36\xa0415,00' '184\xa0016,00' '17\xa0928,09' '743\xa0015,00'
 '9\xa0500,00' '149\xa0206,50' '117\xa0455,00' '42\xa0570,00'
 '6\xa0620,00' '22\xa0200,00' '42\xa0275,00' '39\xa0298,50' '83\xa0358,00'
 '35\xa0000,00' '94\xa0000,00' '119\xa0800,00' '222\xa0000,00'
 '79\xa0800,00' '11\xa0864,42' '57\xa0545,00' '135\xa0900,00'
 '15\xa0500,00' '21\xa0050,00' '31\xa0200,00' '42\xa0178,50'
 '13\xa0293,00' '28\xa0377,50' '171\xa0260,00' '49\xa0350,00'
 '36\xa0590,00' '63\xa0325,00' '41\xa0685,00' '7\xa0050,00'
 '140\xa0565,00' '56\xa0115,00' '33\xa0885,00' '89\xa0650,00'
 '69\xa0513,19' '139\xa0660,00' '23\xa0944,00' '277\xa0295,80'
 '57\xa0590,00' '48\xa0285,00' '915,00' '89\xa0150,00' '19\xa0850,00'
 '5\xa0306,60']
[nan '44\xa0775,00' '86\xa0975,00' '46\xa0995,00' '55\xa0225,00'
 '39\xa0600,00' '54\xa0595,00' '48\xa0280,00' '53\xa0884,00'
 '86\xa0496,50' '25\xa0672,50' '46\xa0380,00' '85\xa0135,00'
 '42\xa0920,00' '6\xa0875,00' '257\xa0700,00' '221\xa0040,00'
 '1\xa0425,00' '44\xa0250,00' '75\xa0000,00' '69\xa0450,00' '60\xa0930,00'
 '111\xa0295,00' '7\xa0905,00' 'стоп' '43\xa0885,00' 'в ноль'
 '49\xa0610,00' '68\xa0879,70' '85\xa0697,50' '36\xa0707,50'
 '53\xa0288,07' '43\xa0610,00' '78\xa0475,00' '37\xa0865,00'
 '31\xa0700,00' '80\xa0800,00' '105\xa0793,24' '107\xa0365,80'
 '102\xa0433,75' '43\xa0173,00' '82\xa0100,00' '89\xa0300,00'
 '118\xa0300,00' '106\xa0037,00' '64\xa0420,00' '55\xa0760,00'
 '4\xa0220,00' '47\xa0500,00' '23\xa0450,00' '35\xa0325,00' '8\xa0000,00'
 '37\xa0363,50' '60\xa0823,75' '43\xa0240,00' '72\xa0295,00'
 '21\xa0000,00' '42\xa0937,10' '139\xa0625,00' '23\xa0210,00'
 '22\xa0887,50' '128\xa0145,00' '170\xa0268,00' '359\xa0157,00'
 '51\xa0805,00' '11\xa0765,00' '59\xa0390,00' '35\xa0110,00'
 '23\xa0270,00' '1\xa0400,00' '5\xa0275,00' '539\xa0295,25' '33\xa0464,50'
 '30\xa0225,00' '70\xa0716,75' '101\xa0230,00' '9\xa0150,00'
 '117\xa0890,00' '3\xa0525,00' '44\xa0100,00' '102\xa0032,00'
 '101\xa0759,70' '49\xa0605,00' '80\xa0200,00' '7\xa0718,97'
 '33\xa0685,00' '65\xa0700,00' '31\xa0850,00' '15\xa0926,70'
 '39\xa0726,00' '67\xa0774,08' '79\xa0045,00' '34\xa0840,00'
 '51\xa0525,00' '10\xa0100,00' '93\xa0250,00' '17\xa0645,00'
 '37\xa0000,00' '30\xa0495,00' '324\xa0600,00' '85\xa0120,00'
 '133\xa0405,00' '47\xa0040,00' '38\xa0870,00' '14\xa0750,00'
 '64\xa0743,00' '72\xa0844,00' '36\xa0415,00' '184\xa0016,00'
 '18\xa0235,53' '780\xa0365,00' '14\xa0725,00' '149\xa0206,50'
 '117\xa0455,00' '42\xa0570,00' '6\xa0860,00' '22\xa0200,00'
 '49\xa0440,00' '39\xa0298,50' '83\xa0358,00' '41\xa0067,00'
 '35\xa0000,00' '94\xa0000,00' '109\xa0925,00' '9\xa0500,00'
 '240\xa0800,00' '152\xa0931,00' '16\xa0200,00' '82\xa0400,00'
 '10\xa0354,55' '57\xa0545,00' '10\xa0000,00' '191\xa0050,00'
 '25\xa0350,00' '10\xa0650,00' '14\xa0000,00' '47\xa0760,00'
 '36\xa0925,00' '25\xa0377,50' '150\xa0220,00' '54\xa0625,00'
 '38\xa0000,00' '62\xa0735,00' '41\xa0380,00' '4\xa0000,00'
 '800\xa0000,00' '63\xa0600,00' '146\xa0845,00' '104\xa0976,00'
 '33\xa0885,00' '77\xa0320,00' '75\xa0127,44' '0,01' '165\xa0540,00'
 '23\xa0944,00' '252\xa0063,90' '58\xa0275,00' '78\xa0235,00'
 '5\xa0795,00' '36\xa0605,00' '108\xa0450,00' '17\xa0350,00'
 '12\xa0898,10']
[nan '44\xa0775,00' '84\xa0160,00' '46\xa0995,00' '55\xa0225,00'
 '39\xa0600,00' '53\xa0700,00' 'end' '113\xa0735,00' '18\xa0125,00' 'стоп'
 '49\xa0850,00' '205\xa0000,00' '550\xa0000,00' '68\xa0879,70'
 '72\xa0542,50' '24\xa0267,50' '45\xa0603,00' '39\xa0810,00'
 '83\xa0500,00' '9\xa0150,00' '69\xa0345,00' '23\xa0590,00' '7\xa0700,00'
 '33\xa0100,00' '49\xa0225,00' '81\xa0460,00' '103\xa0631,57'
 '92\xa0859,43' '138\xa0158,00' '60\xa0072,10' '41\xa0364,00'
 '84\xa0100,00' '192\xa0000,00' '119\xa0500,00' '89\xa0300,00'
 '186\xa0395,00' '46\xa0410,00' '66\xa0300,00' '52\xa0435,00'
 '4\xa0220,00' '41\xa0500,00' '23\xa0450,00' '27\xa0950,00' '20\xa0500,00'
 '38\xa0632,50' '60\xa0823,75' 'в ноль' '44\xa0880,00' '50\xa0475,00'
 '74\xa0810,00' '49\xa0525,00' '118\xa0000,00' '50\xa0640,35'
 '52\xa0565,00' '1\xa0022,55' '60\xa0450,00' '139\xa0625,00'
 '51\xa0695,00' '22\xa0887,50' '135\xa0530,00' '201\xa0870,00'
 '241\xa0780,00' '40\xa0200,00' '65\xa0520,00' '17\xa0740,00'
 '56\xa0235,00' '59\xa0590,00' '38\xa0390,00' '7\xa0160,00' '1\xa0400,00'
 '3\xa0165,00' '539\xa0295,25' '55\xa0683,50' '30\xa0225,00'
 '67\xa0463,00' '101\xa0230,00' '117\xa0890,00' '18\xa0600,00'
 '58\xa0240,00' '102\xa0032,00' '51\xa0030,00' '97\xa0543,80'
 '50\xa0660,00' '80\xa0200,00' '7\xa0119,00' '33\xa0685,00' '64\xa0660,00'
 '57\xa0975,00' '10\xa0226,00' '39\xa0726,00' '36\xa0046,00'
 '81\xa0310,00' '34\xa0990,00' '5\xa0190,00' '49\xa0700,00' '7\xa0425,00'
 '93\xa0250,00' '26\xa0285,00' '45\xa0000,00' '37\xa0000,00'
 '21\xa0280,00' '324\xa0600,00' '85\xa0120,00' '131\xa0405,00'
 '42\xa0185,00' '38\xa0980,00' '14\xa0750,00' '64\xa0743,00'
 '69\xa0870,00' '36\xa0415,00' '184\xa0016,00' '17\xa0241,91'
 '676\xa0860,00' '7\xa0125,00' '149\xa0206,50' '117\xa0455,00'
 '44\xa0680,00' '2\xa0400,00' '22\xa0200,00' '36\xa0795,00' '39\xa0298,50'
 '83\xa0358,00' '38\xa0461,50' '35\xa0000,00' '94\xa0000,00'
 '114\xa0885,00' '14\xa0250,00' '90\xa0090,00' '147\xa0231,00'
 '44\xa0550,00' '126\xa0747,25' '14\xa0268,89' '57\xa0545,00'
 '172\xa0250,00' '24\xa0600,00' '18\xa0800,00' '5\xa0150,00'
 '46\xa0865,00' '25\xa0320,00' '25\xa0377,50' '148\xa0220,00'
 '55\xa0470,00' '36\xa0010,00' '62\xa0125,00' '41\xa0330,00' '4\xa0000,00'
 '800\xa0000,00' '146\xa0845,00' '94\xa0329,00' '33\xa0885,00'
 '83\xa0900,00' '100\xa0518,83' '168\xa0680,00' '57\xa0075,00'
 '3\xa0660,00' '96\xa0535,00' '1\xa0525,00' '29\xa0795,00' '77\xa0100,00'
 '14\xa0650,00' '5\xa0287,00']
[nan '44\xa0775,00' '75\xa0900,00' '46\xa0995,00' '55\xa0225,00'
 '39\xa0600,00' '50\xa0120,00' '153\xa0212,50' '60\xa0470,00'
 '4\xa0225,00' '69\xa0699,35' '63\xa0660,00' '32\xa0255,00' '36\xa0771,00'
 '39\xa0810,00' '65\xa0050,00' '80\xa0000,00' '18\xa0000,00'
 '54\xa0715,00' '16\xa0030,00' '23\xa0590,00' '87\xa0570,00'
 '20\xa0890,00' '19\xa0045,00' '19\xa0940,00' '37\xa0100,00' 'в ноль'
 '12\xa0175,00' '62\xa0405,00' '103\xa0860,56' '93\xa0064,62'
 '138\xa0158,00' '61\xa0187,60' '44\xa0257,50' '84\xa0100,00'
 '180\xa0000,00' '79\xa0925,00' '78\xa0605,00' '168\xa0820,00'
 '44\xa0379,00' '15\xa0400,00' '106\xa0400,00' '300\xa0030,00'
 '63\xa0520,00' '66\xa0300,00' '60\xa0135,00' '4\xa0220,00' '41\xa0500,00'
 '30\xa0025,00' '24\xa0470,00' '25\xa0000,00' '60\xa0823,75'
 '41\xa0005,00' '44\xa0495,00' '72\xa0965,00' '54\xa0111,00'
 '43\xa0275,00' '118\xa0000,00' '167\xa0500,00' '57\xa0901,14'
 '54\xa0355,00' '62\xa0920,00' '47\xa0410,00' '139\xa0625,00'
 '59\xa0080,00' '86\xa0401,00' '37\xa0029,00' '133\xa0420,00'
 '201\xa0870,00' '321\xa0769,75' '40\xa0200,00' '65\xa0315,00'
 '95\xa0795,00' '16\xa0685,00' '62\xa0770,00' '86\xa0350,00'
 '38\xa0390,00' '54\xa0595,00' '1\xa0400,00' '3\xa0165,00' '539\xa0295,25'
 '10\xa0157,50' '30\xa0225,00' '76\xa0278,00' '101\xa0230,00'
 '9\xa0150,00' '117\xa0890,00' '35\xa0200,00' '104\xa0768,00'
 '57\xa0601,20' '51\xa0000,00' '101\xa0007,70' '49\xa0605,00'
 '80\xa0675,00' '12\xa0255,00' '50\xa0085,00' '33\xa0685,00'
 '61\xa0230,00' '125\xa0475,00' '22\xa0175,00' '7\xa0578,94'
 '54\xa0832,00' 'стоп' '41\xa0070,00' '49\xa0700,00' '7\xa0425,00'
 '93\xa0250,00' '21\xa0280,00' '37\xa0000,00' '23\xa0220,00'
 '328\xa0020,00' '69\xa0940,00' '131\xa0405,00' '43\xa0510,00'
 '6\xa0800,00' '2\xa0135,00' '121\xa0500,00' '53\xa0700,00' '65\xa0980,00'
 '64\xa0743,00' '75\xa0012,00' '36\xa0415,00' '184\xa0016,00'
 '16\xa0633,40' '142\xa0615,00' '2\xa0850,00' '84\xa0015,00'
 '149\xa0206,50' '117\xa0455,00' '44\xa0680,00' '17\xa0745,00'
 '22\xa0200,00' '39\xa0900,00' '39\xa0298,50' '83\xa0358,00'
 '32\xa0139,00' '35\xa0000,00' '94\xa0000,00' '185\xa0665,00'
 '37\xa0430,00' '117\xa0090,00' '147\xa0231,00' '7\xa0200,00'
 '36\xa0100,00' '19\xa0277,30' '114\xa0327,25' '21\xa0395,59'
 '57\xa0545,00' '131\xa0655,00' '6\xa0200,00' '13\xa0450,00' '7\xa0900,00'
 '47\xa0760,00' '34\xa0815,00' '25\xa0377,50' '152\xa0695,00'
 '53\xa0780,00' '41\xa0225,00' '63\xa0180,00' '221\xa0405,00'
 '3\xa0965,00' '41\xa0380,00' '4\xa0000,00' '800\xa0000,00'
 '146\xa0845,00' '95\xa0850,00' '33\xa0885,00' '83\xa0900,00'
 '91\xa0826,81' '166\xa0520,00' '41\xa0960,00' '57\xa0075,00'
 '7\xa0625,00' '97\xa0145,00' '28\xa0250,00' '4\xa0105,00' '84\xa0000,00'
 '78\xa0800,00' '15\xa0900,00' '10\xa0180,00']
[nan '44\xa0775,00' '95\xa0105,00' '46\xa0995,00' '55\xa0225,00'
 '39\xa0600,00' '8\xa0055,00' 'стоп' '102\xa0433,75' '91\xa0257,60'
 '45\xa0868,50' '74\xa0360,00' '180\xa0000,00' '30\xa0195,00'
 '72\xa0485,00' '185\xa0370,00' '72\xa0430,00' '15\xa0400,00'
 '53\xa0200,00' 'в ноль' '321\xa0280,00' '79\xa0180,00' '66\xa0300,00'
 '50\xa0000,00' '56\xa0125,00' '2\xa0110,00' '41\xa0500,00' '30\xa0025,00'
 '38\xa0632,50' '95\xa0062,50' '60\xa0823,75' '32\xa0940,00'
 '44\xa0495,00' '79\xa0210,00' '75\xa0000,00' '29\xa0225,00'
 '15\xa0000,00' '118\xa0000,00' '121\xa0500,00' '53\xa0510,00'
 '1\xa0590,00' '60\xa0960,00' '44\xa0165,00' '139\xa0625,00'
 '55\xa0915,00' '38\xa0120,00' '85\xa0351,00' '36\xa0579,00'
 '22\xa0887,50' '140\xa0005,00' '201\xa0870,00' '337\xa0482,75'
 '166\xa0465,00' '65\xa0265,00' '74\xa0795,00' '16\xa0685,00'
 '65\xa0925,00' '86\xa0350,00' '38\xa0390,00' '54\xa0915,00' '1\xa0400,00'
 '95\xa0820,00' '29\xa0704,26' '44\xa0734,50' '539\xa0295,25'
 '30\xa0225,00' '79\xa0066,00' '101\xa0230,00' '9\xa0150,00'
 '49\xa0035,00' '117\xa0890,00' '14\xa0075,00' '17\xa0600,00'
 '7\xa0280,00' '104\xa0768,00' '67\xa0012,80' '53\xa0398,40'
 '307\xa0800,00' '48\xa0600,00' '80\xa0675,00' '9\xa0711,49'
 '38\xa0013,75' '33\xa0685,00' '65\xa0270,00' '53\xa0580,00'
 '22\xa0175,00' '11\xa0625,38' '47\xa0165,28' '51\xa0395,00'
 '43\xa0980,00' '56\xa0435,00' '7\xa0900,00' '93\xa0250,00' '18\xa0540,00'
 '37\xa0000,00' '39\xa0710,00' '18\xa0650,00' '328\xa0020,00'
 '69\xa0940,00' '406\xa0720,00' '82\xa0000,00' '99\xa0855,00'
 '131\xa0405,00' '37\xa0325,00' '6\xa0800,00' '2\xa0135,00'
 '112\xa0000,00' '44\xa0750,00' '32\xa0075,00' '70\xa0400,00'
 '64\xa0743,00' '76\xa0020,00' '36\xa0415,00' '184\xa0016,00'
 '15\xa0539,79' '161\xa0050,00' '2\xa0850,00' '78\xa0015,00'
 '149\xa0206,50' '117\xa0455,00' '44\xa0680,00' '14\xa0770,00'
 '22\xa0200,00' '39\xa0435,00' '39\xa0298,50' '83\xa0358,00'
 '31\xa0333,50' '35\xa0000,00' '94\xa0000,00' '269\xa0360,00'
 '36\xa0725,00' '117\xa0090,00' '147\xa0231,00' '7\xa0000,00'
 '36\xa0100,00' '4\xa0688,00' '112\xa0947,25' '21\xa0560,00'

**Вывод по `financial_data`:**

В таблице `financial_data` во всех колонках, за исключением колонок `id` и `Account`, есть пропущенные значения. Среди менеджеров есть непонятное имя 'без А/М', которое стот удалить. Тип всех транзакций представлен не в числовом типе. В колонках транзакций есть три интересных значений - *end*, *стоп* и *в ноль*.

### 3.4 Предобработка таблицы `financial_data`

In [15]:
# добавим временную колонку в которой будет два значения, если в строке есть 
# один из значений end или стоп, то записываем stop иначе no stop
financial_data['stop_or_no'] = financial_data.apply(lambda x: 'stop' if x.isin(['стоп', 'end']).any() else 'no stop', axis=1)

In [16]:
# посмотрим что получилось
financial_data.head()

,id,Причина дубля,Ноябрь 2022,Декабрь 2022,Январь 2023,Февраль 2023,Март 2023,Апрель 2023,Май 2023,Июнь 2023,Июль 2023,Август 2023,Сентябрь 2023,Октябрь 2023,Ноябрь 2023,Декабрь 2023,Январь 2024,Февраль 2024,Account,stop_or_no
0,42,NaN,"36 220,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович,no stop
1,657,первая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович,stop
2,657,вторая часть оплаты,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович,stop
3,594,NaN,стоп,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович,stop
4,665,NaN,"10 000,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Васильев Артем Александрович,no stop

In [17]:
# удалим строки где среди транзакций есть значения end и стоп зашифрованные под именем stop
financial_data = financial_data[financial_data['stop_or_no']!='stop']

In [18]:
# удалим временную колонку
financial_data = financial_data.drop('stop_or_no', axis=1)

In [19]:
# создадим вертикальную таблицу из таблицы financial_data и сохраним её в ту же переменную
id_vars=['id', 'Причина дубля', 'Account']
value_vars=[column for column in financial_data.columns if column not in id_vars]
financial_data = pd.melt(financial_data, id_vars=id_vars, value_vars=value_vars, var_name='payment_date', value_name='payment')

In [20]:
# посмотрим на результат
financial_data.head()

    id Причина дубля                        Account payment_date    payment
0   42           NaN   Васильев Артем Александрович  Ноябрь 2022  36 220,00
1  665           NaN   Васильев Артем Александрович  Ноябрь 2022  10 000,00
2  637           NaN  Соколова Анастасия Викторовна  Ноябрь 2022  38 045,00
3  419           NaN      Михайлов Андрей Сергеевич  Ноябрь 2022        NaN
4  578           NaN    Попова Екатерина Николаевна  Ноябрь 2022  82 800,00

In [21]:
# посмотрим на результат
financial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6064 entries, 0 to 6063
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             6064 non-null   int64
 1   Причина дубля  4032 non-null   object
 2   Account        6064 non-null   object
 3   payment_date   6064 non-null   object
 4   payment        2236 non-null   object
dtypes: int64(1), object(4)
memory usage: 237.0+ KB

In [22]:
# посмотрим на количество пропущенных значений
financial_data.isna().sum()

id                  0
Причина дубля    2032
Account             0
payment_date        0
payment          3828
dtype: int64

Есть пропущенные значения в колонках `Причина дубля` и `payment`. Нас больше интересует колонка `payment`, поэтому займемся им.

In [23]:
# найдем индекс строк с пропущенными значениями колонки payment
financial_data_index = financial_data[financial_data['payment'].isna()].index
# удалим эти найденные строки
financial_data = financial_data.drop(financial_data_index)
# также удалим строки с неизвестным менеджером
financial_data = financial_data[financial_data['Account']!='без А/М']

### 3.5 Объединение двух таблиц

In [24]:
financial_prolongations = pd.merge(prolongations, financial_data, on='id', how='inner')
financial_prolongations.head()

,id,month,AM,Причина дубля,Account,payment_date,payment
0,42,ноябрь 2022,Васильев Артем Александрович,NaN,Васильев Артем Александрович,Ноябрь 2022,"36 220,00"
1,453,ноябрь 2022,Васильев Артем Александрович,NaN,Васильев Артем Александрович,Ноябрь 2022,в ноль
2,453,ноябрь 2022,Васильев Артем Александрович,NaN,Васильев Артем Александрович,Декабрь 2022,"39 245,00"
3,453,ноябрь 2022,Васильев Артем Александрович,NaN,Васильев Артем Александрович,Январь 2023,"44 320,00"
4,453,ноябрь 2022,Васильев Артем Александрович,NaN,Васильев Артем Александрович,Февраль 2023,"177 635,00"

### 3.6. Предобработка объединенной таблицы

In [25]:
# избавимся от двух ненужных для анализ колонок
financial_prolongations = financial_prolongations.drop(['Причина дубля', 'Account'], axis=1)

# изменим тип даты завершения проекта:
# создадим диапазон дат завершения проекта
month_new = pd.date_range(start='2022-11-01', end='2023-12-01', freq='MS').to_list()
# узнаем уникальные месяцы завершения проекта
month_old = list(financial_prolongations.month.unique())
# и наконец заменим тип данных
financial_prolongations['month'] = financial_prolongations['month'].apply(lambda x: month_new[month_old.index(x)])

# сделаем то же самое для даты платежей
payment_new = pd.date_range(start='2022-11-01', end='2024-02-01', freq='MS').to_list()
payment_old = list(financial_prolongations.payment_date.unique())
financial_prolongations['payment_date'] = financial_prolongations['payment_date'].apply(lambda x: payment_new[payment_old.index(x)])

# заменим значения "в ноль" на 0. Это нам пригодится в будущем
financial_prolongations['payment'] = financial_prolongations['payment'].replace('в ноль', '0')

# заменим пробелы и запятые для дальнейшей обработки
financial_prolongations['payment'] = financial_prolongations['payment'].str.replace('\xa0', '').str.replace(',', '.')
# теперь заменим тип платежей на float
financial_prolongations.payment = financial_prolongations.payment.astype('float')

In [26]:
# посмотрим на объединенную таблицу после обработки
financial_prolongations.head()

    id      month                            AM payment_date   payment
0   42 2022-11-01  Васильев Артем Александрович   2022-11-01   36220.0
1  453 2022-11-01  Васильев Артем Александрович   2022-11-01       0.0
2  453 2022-11-01  Васильев Артем Александрович   2022-12-01   39245.0
3  453 2022-11-01  Васильев Артем Александрович   2023-01-01   44320.0
4  453 2022-11-01  Васильев Артем Александрович   2023-02-01  177635.0

In [27]:
# преобразуем таблицу в новую, с уникальными платежами, сгруппированную по четырём колонкам
financial_prolongations = financial_prolongations.groupby(['id',	'month',	'AM', 'payment_date'], as_index=False)['payment'].unique()

In [28]:
# посмотрим на конец получившейся таблицы
financial_prolongations.tail(10)

,id,month,AM,payment_date,payment
3072,998,2023-11-01,Попова Екатерина Николаевна,2024-01-01,"[41050.0, 0.0]"
3073,998,2023-11-01,Попова Екатерина Николаевна,2024-02-01,"[46120.0, 425.0]"
3074,1001,2023-11-01,Кузнецов Михаил Иванович,2023-11-01,[290000.0]
3075,1006,2023-12-01,Смирнова Ольга Владимировна,2023-10-01,[145195.0]
3076,1006,2023-12-01,Смирнова Ольга Владимировна,2023-11-01,[140495.0]
3077,1006,2023-12-01,Смирнова Ольга Владимировна,2023-12-01,[140495.0]
3078,1012,2023-11-01,Петрова Анна Дмитриевна,2023-11-01,[98492.0]
3079,1012,2023-11-01,Петрова Анна Дмитриевна,2023-12-01,[109442.52]
3080,1015,2023-11-01,Смирнова Ольга Владимировна,2023-11-01,"[103700.0, 60000.0]"
3081,1015,2023-11-01,Смирнова Ольга Владимировна,2023-12-01,[15000.0]

Этот шаг был сделан для следующего. Если в списке есть два или более значений и среди них есть ноль, то мы сложим значения списка, так как это отноится к одному заказу, месяцу завершения проекта и месяцу платежа. А где в списке будет только одно значение и оно ноль, то так и оставим это значение.

In [29]:
# реализуем вышесказанное
financial_prolongations['payment'] = financial_prolongations['payment'].apply(lambda x: sum(x))

In [30]:
# посмотрим что получилось
financial_prolongations.head()

   id      month                       AM payment_date    payment
0  15 2022-12-01  Иванова Мария Сергеевна   2022-11-01  439280.00
1  15 2022-12-01  Иванова Мария Сергеевна   2022-12-01  439280.00
2  15 2022-12-01  Иванова Мария Сергеевна   2023-01-01  102433.75
3  15 2022-12-01  Иванова Мария Сергеевна   2023-02-01  102433.75
4  15 2022-12-01  Иванова Мария Сергеевна   2023-03-01  102433.75

Теперь заменим оставшиеся нули(которые `в ноль`) значением продажи за предыдущий месяц.

In [31]:
# для начала отсортируем таблицу
financial_prolongations.sort_values(by='payment_date', ascending=False, inplace=True)

# создадим функцию для замены нулевых значений
def fill_zero_payments(row, df):
    if row['payment'] == 0:
        # находим индекс нулевого значения
        id_zero = row['id']
        # находим месяц завершения проекта
        months = row['month']
        # находим предыдущую дату
        prev_date = row['payment_date'] - pd.DateOffset(months=1)
        # находим строки с нужным id и месяцем
        new_df = df[(df['id']==id_zero) & (df['month']==months)]
        # ищем отгрузку за предыдущий месяц 
        prev_payment = new_df[new_df['payment_date'] == prev_date]['payment']
        # если таблица будет не пустой, то заменим ноль на продажи предыдущего месяца
        if not prev_payment.empty:
            return prev_payment.iloc[0]
    # иначе оставляем нулём
    return row['payment']

# меняем нули
financial_prolongations['payment'] = financial_prolongations.apply(lambda x: fill_zero_payments(x, financial_prolongations), axis=1)

# 4. Нахождение коэффициентов

То есть, если нам нужно понять, насколько хорошо менеджер пролонгировал в мае, необходимо посчитать:
* Сумму отгрузки проектов, завершившихся в апреле (за апрель) и сумму отгрузки тех проектов завершившихся в апреле, у которых есть отгрузка в мае (за май). Коэффициент – отношение второй суммы к первой. 
* Сумму проектов, завершившихся в марте, у которых нет отгрузки в апреле (за март) и сумму отгрузки тех проектов, завершившихся в марте, у которых нет отгрузки в апреле но есть в мае (за май). Коэффициент – отношение второй суммы к первой.

In [32]:
# в эти пустые словари будем добавлять коэффициенты, и не только
dict_k_1 = {}
dict_k_2 = {}

# пройдемся по менеджерам
for manager in financial_prolongations['AM'].unique():
    # сделаем срез по конкретному менеджеру manager
    manager_df = financial_prolongations[financial_prolongations['AM']==manager]
    # добавим в словарь в качестве ключа менеджера, а значением пустой список
    # в который будем добавлять всю инфомрацию по менеджерам, включая коэффициенты
    dict_k_1[manager] = list()
    dict_k_2[manager] = list()
    
    # пройдемся теперь по уникальным отсортированным датам
    for current_month in pd.Series(financial_prolongations.month.unique()).sort_values():
        # находим предыдущий месяц
        last_month = current_month - pd.DateOffset(months=1)
        # находим дважды предыдущий месяц для второго коэффицента
        last_last_month = current_month - pd.DateOffset(months=2)
        
        # если предыдущий месяц присутствует в срезе данных менеджера, то
        if manager_df['month'].isin([last_month]).any():
            # делаем срез отгрузок за предыдущий месяц 
            df_last = manager_df[(manager_df['month']==last_month) & (manager_df['payment_date']==last_month)]
            # сохраняем id этого среза
            id_last = df_last['id']
            # делаем еще один срез, но с отгрузками текущего месяца 
            df_current = manager_df[(manager_df['month']==last_month) & (manager_df['payment_date']==current_month) & (manager_df['id'].isin(id_last))]

            # осталось проверить, если оба среза не пустые, то 
            if not (df_last.empty or df_current.empty):
                # находим сумму отгрузок за предыдущий месяц
                revenue_1_month_ago = df_last['payment'].sum()
                # находим сумму отгрузок за текущий месяц
                revenue_current_month = df_current['payment'].sum()
                # и рассчитваем первый коэффицент пролонгации
                k_1 = revenue_current_month/revenue_1_month_ago

                # добавляем в словарь шесть значений: 
                # last_month - дата завршения проекта
                # revenue_1_month_ago - отгрузки в месяц завершения проекта
                # manager - менеджер
                # current_month - дата расчета пролонгации
                # revenue_current_month - отгрузки в месяц расчета коэффициента
                # k_1 - коэффициент пролонгации
                dict_k_1[manager].append([last_month, revenue_1_month_ago, manager, current_month, revenue_current_month, k_1])
        
        # по аналогии рассчитваем второй коэффицент
        if manager_df['month'].isin([last_last_month]).any():
            df_last_last = manager_df[(manager_df['month']==last_last_month) & (manager_df['payment_date']==last_last_month)]
            id_last_last = df_last_last['id']
            df_current = manager_df[(manager_df['month']==last_last_month) & (manager_df['payment_date']==current_month) & (manager_df['id'].isin(id_last_last))]
            if not (df_last_last.empty or df_current.empty):
                revenue_2_month_ago = df_last_last['payment'].sum()
                revenue_current_month = df_current['payment'].sum()
                k_2 = revenue_current_month/revenue_2_month_ago
                dict_k_2[manager].append([last_month, revenue_2_month_ago, manager, current_month, revenue_current_month, k_2])

In [33]:
# посмотрим на полученный словарь
display(dict_k_1)
display(dict_k_2)

{'Иванова Мария Сергеевна': [[Timestamp('2022-12-01 00:00:00'),
   np.float64(2296595.71),
   'Иванова Мария Сергеевна',
   Timestamp('2023-01-01 00:00:00'),
   np.float64(620231.92),
   np.float64(0.2700657835853922)],
  [Timestamp('2023-02-01 00:00:00'),
   np.float64(229633.75),
   'Иванова Мария Сергеевна',
   Timestamp('2023-03-01 00:00:00'),
   np.float64(102433.75),
   np.float64(0.4460744555188425)],
  [Timestamp('2023-03-01 00:00:00'),
   np.float64(821973.75),
   'Иванова Мария Сергеевна',
   Timestamp('2023-04-01 00:00:00'),
   np.float64(228248.0),
   np.float64(0.2776828335454751)],
  [Timestamp('2023-04-01 00:00:00'),
   np.float64(138158.0),
   'Иванова Мария Сергеевна',
   Timestamp('2023-05-01 00:00:00'),
   np.float64(138158.0),
   np.float64(1.0)],
  [Timestamp('2023-06-01 00:00:00'),
   np.float64(424292.25),
   'Иванова Мария Сергеевна',
   Timestamp('2023-07-01 00:00:00'),
   np.float64(200525.0),
   np.float64(0.4726105650056064)],
  [Timestamp('2023-07-01 00:00:00'),
   np.float64(303433.7),
   'Иванова Мария Сергеевна',
   Timestamp('2023-08-01 00:00:00'),
   np.float64(164058.88),
   np.float64(0.540674552628795)],
  [Timestamp('2023-08-01 00:00:00'),
   np.float64(74795.0),
   'Иванова Мария Сергеевна',
   Timestamp('2023-09-01 00:00:00'),
   np.float64(74795.0),
   np.float64(1.0)]],
 'Попова Екатерина Николаевна': [[Timestamp('2022-11-01 00:00:00'),
   np.float64(138020.0),
   'Попова Екатерина Николаевна',
   Timestamp('2022-12-01 00:00:00'),
   np.float64(40830.0),
   np.float64(0.29582669178379944)],
  [Timestamp('2022-12-01 00:00:00'),
   np.float64(242070.0),
   'Попова Екатерина Николаевна',
   Timestamp('2023-01-01 00:00:00'),
   np.float64(106675.0),
   np.float64(0.44067831618953196)],
  [Timestamp('2023-02-01 00:00:00'),
   np.float64(243240.0),
   'Попова Екатерина Николаевна',
   Timestamp('2023-03-01 00:00:00'),
   np.float64(122455.0),
   np.float64(0.5034328235487584)],
  [Timestamp('2023-03-01 00:00:00'),
   np.float64(285660.0),
   'Попова Екатерина Николаевна',
   Timestamp('2023-04-01 00:00:00'),
   np.float64(45550.0),
   np.float64(0.1594552965063362)],
  [Timestamp('2023-04-01 00:00:00'),
   np.float64(302497.5),
   'Попова Екатерина Николаевна',
   Timestamp('2023-05-01 00:00:00'),
   np.float64(173032.5),
   np.float64(0.5720129918429078)],
  [Timestamp('2023-06-01 00:00:00'),
   np.float64(345660.0),
   'Попова Екатерина Николаевна',
   Timestamp('2023-07-01 00:00:00'),
   np.float64(30800.0),
   np.float64(0.08910490076954232)],
  [Timestamp('2023-07-01 00:00:00'),
   np.float64(199902.5),
   'Попова Екатерина Николаевна',
   Timestamp('2023-08-01 00:00:00'),
   np.float64(81020.0),
   np.float64(0.4052975825715036)],
  [Timestamp('2023-08-01 00:00:00'),
   np.float64(351470.0),
   'Попова Екатерина Николаевна',
   Timestamp('2023-09-01 00:00:00'),
   np.float64(223145.0),
   np.float64(0.6348906023273679)],
  [Timestamp('2023-09-01 00:00:00'),
   np.float64(588441.0800000001),
   'Попова Екатерина Николаевна',
   Timestamp('2023-10-01 00:00:00'),
   np.float64(412005.80000000005),
   np.float64(0.7001649171060593)]],
 'Соколова Анастасия Викторовна': [[Timestamp('2022-11-01 00:00:00'),
   np.float64(224435.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2022-12-01 00:00:00'),
   np.float64(187520.0),
   np.float64(0.8355203065475527)],
  [Timestamp('2022-12-01 00:00:00'),
   np.float64(843393.26),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-01-01 00:00:00'),
   np.float64(338049.0),
   np.float64(0.4008201346071938)],
  [Timestamp('2023-01-01 00:00:00'),
   np.float64(495323.5),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-02-01 00:00:00'),
   np.float64(137155.0),
   np.float64(0.27689984424320674)],
  [Timestamp('2023-02-01 00:00:00'),
   np.float64(209975.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-03-01 00:00:00'),
   np.float64(193385.0),
   np.float64(0.9209905941183474)],
  [Timestamp('2023-03-01 00:00:00'),
   np.float64(398453.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-04-01 00:00:00'),
   np.float64(424685.0),
   np.float64(1.0658346153749627)],
  [Timestamp('2023-04-01 00:00:00'),
   np.float64(328780.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-05-01 00:00:00'),
   np.float64(60220.0),
   np.float64(0.1831619928219478)],
  [Timestamp('2023-05-01 00:00:00'),
   np.float64(169280.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-06-01 00:00:00'),
   np.float64(129740.0),
   np.float64(0.7664224952741021)],
  [Timestamp('2023-06-01 00:00:00'),
   np.float64(834910.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-07-01 00:00:00'),
   np.float64(501075.0),
   np.float64(0.6001545076714856)],
  [Timestamp('2023-07-01 00:00:00'),
   np.float64(466862.13),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-08-01 00:00:00'),
   np.float64(252695.0),
   np.float64(0.5412625778835392)],
  [Timestamp('2023-08-01 00:00:00'),
   np.float64(524702.73),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-09-01 00:00:00'),
   np.float64(142458.97),
   np.float64(0.2715041524560011)],
  [Timestamp('2023-09-01 00:00:00'),
   np.float64(782297.22),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-10-01 00:00:00'),
   np.float64(637710.0),
   np.float64(0.8151761040388205)],
  [Timestamp('2023-10-01 00:00:00'),
   np.float64(255700.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-11-01 00:00:00'),
   np.float64(69190.0),
   np.float64(0.270590535784122)],
  [Timestamp('2023-11-01 00:00:00'),
   np.float64(960450.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-12-01 00:00:00'),
   np.float64(759775.0),
   np.float64(0.791061481597168)]],
 'Смирнова Ольга Владимировна': [[Timestamp('2022-12-01 00:00:00'),
   np.float64(150075.0),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-01-01 00:00:00'),
   np.float64(111565.0),
   np.float64(0.7433949691820756)],
  [Timestamp('2023-03-01 00:00:00'),
   np.float64(93075.0),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-04-01 00:00:00'),
   np.float64(89920.0),
   np.float64(0.9661026054257319)],
  [Timestamp('2023-07-01 00:00:00'),
   np.float64(292340.0),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-08-01 00:00:00'),
   np.float64(108905.0),
   np.float64(0.37252856263255113)],
  [Timestamp('2023-08-01 00:00:00'),
   np.float64(365378.54),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-09-01 00:00:00'),
   np.float64(279686.45),
   np.float64(0.7654703803896091)],
  [Timestamp('2023-09-01 00:00:00'),
   np.float64(874730.7),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-10-01 00:00:00'),
   np.float64(908328.75),
   np.float64(1.0384095928038195)],
  [Timestamp('2023-10-01 00:00:00'),
   np.float64(243440.0),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-11-01 00:00:00'),
   np.float64(194830.0),
   np.float64(0.800320407492606)],
  [Timestamp('2023-11-01 00:00:00'),
   np.float64(554051.0),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-12-01 00:00:00'),
   np.float64(200088.3),
   np.float64(0.36113697114525556)]],
 'Васильев Артем Александрович': [[Timestamp('2022-11-01 00:00:00'),
   np.float64(582479.0),
   'Васильев Артем Александрович',
   Timestamp('2022-12-01 00:00:00'),
   np.float64(254545.0),
   np.float64(0.437002879073752)],
  [Timestamp('2022-12-01 00:00:00'),
   np.float64(1663970.18),
   'Васильев Артем Александрович',
   Timestamp('2023-01-01 00:00:00'),
   np.float64(1012761.6),
   np.float64(0.6086416764992748)],
  [Timestamp('2023-01-01 00:00:00'),
   np.float64(827225.0),
   'Васильев Артем Александрович',
   Timestamp('2023-02-01 00:00:00'),
   np.float64(874015.0),
   np.float64(1.056562603886488)],
  [Timestamp('2023-02-01 00:00:00'),
   np.float64(991467.42),
   'Васильев Артем Александрович',
   Timestamp('2023-03-01 00:00:00'),
   np.float64(621897.55),
   np.float64(0.6272496074555833)],
  [Timestamp('2023-03-01 00:00:00'),
   np.float64(796055.4500000001),
   'Васильев Артем Александрович',
   Timestamp('2023-04-01 00:00:00'),
   np.float64(152640.0),
   np.float64(0.19174543682855258)],
  [Timestamp('2023-04-01 00:00:00'),
   np.float64(1635198.5),
   'Васильев Артем Александрович',
   Timestamp('2023-05-01 00:00:00'),
   np.float64(398864.0),
   np.float64(0.24392390281669168)],
  [Timestamp('2023-05-01 00:00:00'),
   np.float64(390286.0),
   'Васильев Артем Александрович',
   Timestamp('2023-06-01 00:00:00'),
   np.float64(151933.28),
   np.float64(0.38928703566102807)],
  [Timestamp('2023-06-01 00:00:00'),
   np.float64(891755.6),
   'Васильев Артем Александрович',
   Timestamp('2023-07-01 00:00:00'),
   np.float64(521691.0),
   np.float64(0.5850156702127803)],
  [Timestamp('2023-07-01 00:00:00'),
   np.float64(649000.0),
   'Васильев Артем Александрович',
   Timestamp('2023-08-01 00:00:00'),
   np.float64(309900.0),
   np.float64(0.47750385208012325)],
  [Timestamp('2023-08-01 00:00:00'),
   np.float64(1361540.74),
   'Васильев Артем Александрович',
   Timestamp('2023-09-01 00:00:00'),
   np.float64(234774.0),
   np.float64(0.172432592799243)],
  [Timestamp('2023-09-01 00:00:00'),
   np.float64(401370.0),
   'Васильев Артем Александрович',
   Timestamp('2023-10-01 00:00:00'),
   np.float64(355915.0),
   np.float64(0.8867503799486758)],
  [Timestamp('2023-10-01 00:00:00'),
   np.float64(528664.75),
   'Васильев Артем Александрович',
   Timestamp('2023-11-01 00:00:00'),
   np.float64(358894.0),
   np.float64(0.6788687916113189)],
  [Timestamp('2023-11-01 00:00:00'),
   np.float64(169720.0),
   'Васильев Артем Александрович',
   Timestamp('2023-12-01 00:00:00'),
   np.float64(55000.0),
   np.float64(0.32406316285646947)]],
 'Михайлов Андрей Сергеевич': [[Timestamp('2022-11-01 00:00:00'),
   np.float64(859205.0),
   'Михайлов Андрей Сергеевич',
   Timestamp('2022-12-01 00:00:00'),
   np.float64(778660.0),
   np.float64(0.9062563648954557)],
  [Timestamp('2022-12-01 00:00:00'),
   np.float64(641080.21),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-01-01 00:00:00'),
   np.float64(441014.08999999997),
   np.float64(0.6879234191303456)],
  [Timestamp('2023-01-01 00:00:00'),
   np.float64(900420.0),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-02-01 00:00:00'),
   np.float64(813660.0),
   np.float64(0.9036449656826814)],
  [Timestamp('2023-02-01 00:00:00'),
   np.float64(5306.6),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-03-01 00:00:00'),
   np.float64(12898.1),
   np.float64(2.4305770172992123)],
  [Timestamp('2023-03-01 00:00:00'),
   np.float64(77937.1),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-04-01 00:00:00'),
   np.float64(85640.35),
   np.float64(1.0988393204263438)],
  [Timestamp('2023-04-01 00:00:00'),
   np.float64(410460.0),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-05-01 00:00:00'),
   np.float64(488289.75),
   np.float64(1.1896159187253326)],
  [Timestamp('2023-06-01 00:00:00'),
   np.float64(79180.0),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-07-01 00:00:00'),
   np.float64(94820.0),
   np.float64(1.1975246274311695)],
  [Timestamp('2023-09-01 00:00:00'),
   np.float64(666030.75),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-10-01 00:00:00'),
   np.float64(299100.0),
   np.float64(0.44907836462505674)]],
 'Кузнецов Михаил Иванович': [[Timestamp('2022-12-01 00:00:00'),
   np.float64(26167.5),
   'Кузнецов Михаил Иванович',
   Timestamp('2023-01-01 00:00:00'),
   np.float64(33127.5),
   np.float64(1.2659787904843796)],
  [Timestamp('2023-01-01 00:00:00'),
   np.float64(33127.5),
   'Кузнецов Михаил Иванович',
   Timestamp('2023-02-01 00:00:00'),
   np.float64(56115.0),
   np.float64(1.6939098935929364)],
  [Timestamp('2023-09-01 00:00:00'),
   np.float64(43951.06),
   'Кузнецов Михаил Иванович',
   Timestamp('2023-10-01 00:00:00'),
   np.float64(57510.64),
   np.float64(1.3085154260215794)],
  [Timestamp('2023-10-01 00:00:00'),
   np.float64(164126.47),
   'Кузнецов Михаил Иванович',
   Timestamp('2023-11-01 00:00:00'),
   np.float64(156480.0),
   np.float64(0.9534111103467954)],
  [Timestamp('2023-11-01 00:00:00'),
   np.float64(488381.91),
   'Кузнецов Михаил Иванович',
   Timestamp('2023-12-01 00:00:00'),
   np.float64(133822.34),
   np.float64(0.27401166435505364)]],
 'Федорова Марина Васильевна': [],
 'Петрова Анна Дмитриевна': [[Timestamp('2023-11-01 00:00:00'),
   np.float64(98492.0),
   'Петрова Анна Дмитриевна',
   Timestamp('2023-12-01 00:00:00'),
   np.float64(109442.52),
   np.float64(1.1111818218738578)]]}

{'Иванова Мария Сергеевна': [[Timestamp('2023-01-01 00:00:00'),
   np.float64(2296595.71),
   'Иванова Мария Сергеевна',
   Timestamp('2023-02-01 00:00:00'),
   np.float64(473640.25),
   np.float64(0.20623579846363121)],
  [Timestamp('2023-03-01 00:00:00'),
   np.float64(229633.75),
   'Иванова Мария Сергеевна',
   Timestamp('2023-04-01 00:00:00'),
   np.float64(138158.0),
   np.float64(0.6016450108052497)],
  [Timestamp('2023-04-01 00:00:00'),
   np.float64(821973.75),
   'Иванова Мария Сергеевна',
   Timestamp('2023-05-01 00:00:00'),
   np.float64(255248.0),
   np.float64(0.31053059784451753)],
  [Timestamp('2023-05-01 00:00:00'),
   np.float64(138158.0),
   'Иванова Мария Сергеевна',
   Timestamp('2023-06-01 00:00:00'),
   np.float64(102433.75),
   np.float64(0.741424673200249)],
  [Timestamp('2023-07-01 00:00:00'),
   np.float64(424292.25),
   'Иванова Мария Сергеевна',
   Timestamp('2023-08-01 00:00:00'),
   np.float64(214415.0),
   np.float64(0.5053474344629203)],
  [Timestamp('2023-08-01 00:00:00'),
   np.float64(303433.7),
   'Иванова Мария Сергеевна',
   Timestamp('2023-09-01 00:00:00'),
   np.float64(117751.25),
   np.float64(0.3880625322764083)],
  [Timestamp('2023-09-01 00:00:00'),
   np.float64(74795.0),
   'Иванова Мария Сергеевна',
   Timestamp('2023-10-01 00:00:00'),
   np.float64(74795.0),
   np.float64(1.0)]],
 'Попова Екатерина Николаевна': [[Timestamp('2022-12-01 00:00:00'),
   np.float64(138020.0),
   'Попова Екатерина Николаевна',
   Timestamp('2023-01-01 00:00:00'),
   np.float64(40830.0),
   np.float64(0.29582669178379944)],
  [Timestamp('2023-01-01 00:00:00'),
   np.float64(242070.0),
   'Попова Екатерина Николаевна',
   Timestamp('2023-02-01 00:00:00'),
   np.float64(122020.0),
   np.float64(0.5040690709298963)],
  [Timestamp('2023-03-01 00:00:00'),
   np.float64(243240.0),
   'Попова Екатерина Николаевна',
   Timestamp('2023-04-01 00:00:00'),
   np.float64(209305.0),
   np.float64(0.8604875842789015)],
  [Timestamp('2023-04-01 00:00:00'),
   np.float64(285660.0),
   'Попова Екатерина Николаевна',
   Timestamp('2023-05-01 00:00:00'),
   np.float64(92985.0),
   np.float64(0.32550934677588744)],
  [Timestamp('2023-05-01 00:00:00'),
   np.float64(302497.5),
   'Попова Екатерина Николаевна',
   Timestamp('2023-06-01 00:00:00'),
   np.float64(201047.5),
   np.float64(0.6646253274820453)],
  [Timestamp('2023-06-01 00:00:00'),
   np.float64(76910.0),
   'Попова Екатерина Николаевна',
   Timestamp('2023-07-01 00:00:00'),
   np.float64(38900.0),
   np.float64(0.5057859836172149)],
  [Timestamp('2023-07-01 00:00:00'),
   np.float64(345660.0),
   'Попова Екатерина Николаевна',
   Timestamp('2023-08-01 00:00:00'),
   np.float64(56975.0),
   np.float64(0.16482960134235955)],
  [Timestamp('2023-08-01 00:00:00'),
   np.float64(199902.5),
   'Попова Екатерина Николаевна',
   Timestamp('2023-09-01 00:00:00'),
   np.float64(81020.0),
   np.float64(0.4052975825715036)],
  [Timestamp('2023-09-01 00:00:00'),
   np.float64(351470.0),
   'Попова Екатерина Николаевна',
   Timestamp('2023-10-01 00:00:00'),
   np.float64(223145.0),
   np.float64(0.6348906023273679)],
  [Timestamp('2023-10-01 00:00:00'),
   np.float64(588441.0800000001),
   'Попова Екатерина Николаевна',
   Timestamp('2023-11-01 00:00:00'),
   np.float64(420233.77),
   np.float64(0.7141475744691379)]],
 'Соколова Анастасия Викторовна': [[Timestamp('2022-12-01 00:00:00'),
   np.float64(224435.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-01-01 00:00:00'),
   np.float64(217440.0),
   np.float64(0.9688328469267271)],
  [Timestamp('2023-01-01 00:00:00'),
   np.float64(843393.26),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-02-01 00:00:00'),
   np.float64(492861.0),
   np.float64(0.5843786325728996)],
  [Timestamp('2023-02-01 00:00:00'),
   np.float64(495323.5),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-03-01 00:00:00'),
   np.float64(94195.0),
   np.float64(0.19016864735874636)],
  [Timestamp('2023-03-01 00:00:00'),
   np.float64(209975.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-04-01 00:00:00'),
   np.float64(188060.0),
   np.float64(0.8956304321943088)],
  [Timestamp('2023-04-01 00:00:00'),
   np.float64(398453.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-05-01 00:00:00'),
   np.float64(376620.0),
   np.float64(0.9452055825906694)],
  [Timestamp('2023-05-01 00:00:00'),
   np.float64(328780.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-06-01 00:00:00'),
   np.float64(76710.0),
   np.float64(0.23331711174645658)],
  [Timestamp('2023-06-01 00:00:00'),
   np.float64(169280.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-07-01 00:00:00'),
   np.float64(117730.0),
   np.float64(0.6954749527410208)],
  [Timestamp('2023-07-01 00:00:00'),
   np.float64(834910.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-08-01 00:00:00'),
   np.float64(440785.0),
   np.float64(0.5279431315950223)],
  [Timestamp('2023-08-01 00:00:00'),
   np.float64(466862.13),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-09-01 00:00:00'),
   np.float64(98690.0),
   np.float64(0.21139003071420678)],
  [Timestamp('2023-10-01 00:00:00'),
   np.float64(782297.22),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-11-01 00:00:00'),
   np.float64(716075.0),
   np.float64(0.9153490280842363)],
  [Timestamp('2023-11-01 00:00:00'),
   np.float64(255700.0),
   'Соколова Анастасия Викторовна',
   Timestamp('2023-12-01 00:00:00'),
   np.float64(70230.0),
   np.float64(0.2746578021118498)]],
 'Смирнова Ольга Владимировна': [[Timestamp('2023-01-01 00:00:00'),
   np.float64(150075.0),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-02-01 00:00:00'),
   np.float64(109700.0),
   np.float64(0.730967849408629)],
  [Timestamp('2023-02-01 00:00:00'),
   np.float64(48000.0),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-03-01 00:00:00'),
   np.float64(55225.0),
   np.float64(1.1505208333333334)],
  [Timestamp('2023-04-01 00:00:00'),
   np.float64(93075.0),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-05-01 00:00:00'),
   np.float64(96455.0),
   np.float64(1.0363147998925597)],
  [Timestamp('2023-06-01 00:00:00'),
   np.float64(134394.35),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-07-01 00:00:00'),
   np.float64(69385.0),
   np.float64(0.5162791441753317)],
  [Timestamp('2023-07-01 00:00:00'),
   np.float64(33685.0),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-08-01 00:00:00'),
   np.float64(52315.0),
   np.float64(1.5530651625352532)],
  [Timestamp('2023-08-01 00:00:00'),
   np.float64(292340.0),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-09-01 00:00:00'),
   np.float64(140425.0),
   np.float64(0.4803482246699049)],
  [Timestamp('2023-09-01 00:00:00'),
   np.float64(365378.54),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-10-01 00:00:00'),
   np.float64(222080.0),
   np.float64(0.6078080009844038)],
  [Timestamp('2023-10-01 00:00:00'),
   np.float64(874730.7),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-11-01 00:00:00'),
   np.float64(910860.25),
   np.float64(1.041303626361805)],
  [Timestamp('2023-11-01 00:00:00'),
   np.float64(243440.0),
   'Смирнова Ольга Владимировна',
   Timestamp('2023-12-01 00:00:00'),
   np.float64(163593.3),
   np.float64(0.672006654617154)]],
 'Васильев Артем Александрович': [[Timestamp('2022-12-01 00:00:00'),
   np.float64(582479.0),
   'Васильев Артем Александрович',
   Timestamp('2023-01-01 00:00:00'),
   np.float64(351740.0),
   np.float64(0.6038672638841915)],
  [Timestamp('2023-01-01 00:00:00'),
   np.float64(1663970.18),
   'Васильев Артем Александрович',
   Timestamp('2023-02-01 00:00:00'),
   np.float64(1144844.69),
   np.float64(0.6880199559826247)],
  [Timestamp('2023-02-01 00:00:00'),
   np.float64(827225.0),
   'Васильев Артем Александрович',
   Timestamp('2023-03-01 00:00:00'),
   np.float64(982114.08),
   np.float64(1.187239360512557)],
  [Timestamp('2023-03-01 00:00:00'),
   np.float64(991467.42),
   'Васильев Артем Александрович',
   Timestamp('2023-04-01 00:00:00'),
   np.float64(609954.0),
   np.float64(0.6152032711271541)],
  [Timestamp('2023-04-01 00:00:00'),
   np.float64(796055.4500000001),
   'Васильев Артем Александрович',
   Timestamp('2023-05-01 00:00:00'),
   np.float64(113617.3),
   np.float64(0.14272535914426562)],
  [Timestamp('2023-05-01 00:00:00'),
   np.float64(1635198.5),
   'Васильев Артем Александрович',
   Timestamp('2023-06-01 00:00:00'),
   np.float64(626797.5),
   np.float64(0.38331584819824627)],
  [Timestamp('2023-06-01 00:00:00'),
   np.float64(390286.0),
   'Васильев Артем Александрович',
   Timestamp('2023-07-01 00:00:00'),
   np.float64(176310.0),
   np.float64(0.45174564293876796)],
  [Timestamp('2023-07-01 00:00:00'),
   np.float64(891755.6),
   'Васильев Артем Александрович',
   Timestamp('2023-08-01 00:00:00'),
   np.float64(519565.32),
   np.float64(0.5826319677723358)],
  [Timestamp('2023-08-01 00:00:00'),
   np.float64(649000.0),
   'Васильев Артем Александрович',
   Timestamp('2023-09-01 00:00:00'),
   np.float64(253620.0),
   np.float64(0.39078582434514636)],
  [Timestamp('2023-09-01 00:00:00'),
   np.float64(1361540.74),
   'Васильев Артем Александрович',
   Timestamp('2023-10-01 00:00:00'),
   np.float64(313165.96),
   np.float64(0.23000851226824107)],
  [Timestamp('2023-10-01 00:00:00'),
   np.float64(401370.0),
   'Васильев Артем Александрович',
   Timestamp('2023-11-01 00:00:00'),
   np.float64(356355.0),
   np.float64(0.887846625308319)],
  [Timestamp('2023-11-01 00:00:00'),
   np.float64(528664.75),
   'Васильев Артем Александрович',
   Timestamp('2023-12-01 00:00:00'),
   np.float64(433841.0),
   np.float64(0.8206353837663661)]],
 'Михайлов Андрей Сергеевич': [[Timestamp('2022-12-01 00:00:00'),
   np.float64(859205.0),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-01-01 00:00:00'),
   np.float64(900420.0),
   np.float64(1.0479687618205202)],
  [Timestamp('2023-01-01 00:00:00'),
   np.float64(641080.21),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-02-01 00:00:00'),
   np.float64(473049.08999999997),
   np.float64(0.7378937652747072)],
  [Timestamp('2023-02-01 00:00:00'),
   np.float64(900420.0),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-03-01 00:00:00'),
   np.float64(165540.0),
   np.float64(0.18384753781568602)],
  [Timestamp('2023-03-01 00:00:00'),
   np.float64(5306.6),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-04-01 00:00:00'),
   np.float64(5287.0),
   np.float64(0.9963064862623902)],
  [Timestamp('2023-04-01 00:00:00'),
   np.float64(77937.1),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-05-01 00:00:00'),
   np.float64(92901.14),
   np.float64(1.1920014986444196)],
  [Timestamp('2023-05-01 00:00:00'),
   np.float64(410460.0),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-06-01 00:00:00'),
   np.float64(420842.75),
   np.float64(1.0252954002826098)],
  [Timestamp('2023-10-01 00:00:00'),
   np.float64(666030.75),
   'Михайлов Андрей Сергеевич',
   Timestamp('2023-11-01 00:00:00'),
   np.float64(249690.0),
   np.float64(0.3748926006794731)]],
 'Кузнецов Михаил Иванович': [[Timestamp('2023-01-01 00:00:00'),
   np.float64(26167.5),
   'Кузнецов Михаил Иванович',
   Timestamp('2023-02-01 00:00:00'),
   np.float64(56115.0),
   np.float64(2.1444539982803095)],
  [Timestamp('2023-02-01 00:00:00'),
   np.float64(33127.5),
   'Кузнецов Михаил Иванович',
   Timestamp('2023-03-01 00:00:00'),
   np.float64(104976.0),
   np.float64(3.1688476341408194)],
  [Timestamp('2023-10-01 00:00:00'),
   np.float64(43951.06),
   'Кузнецов Михаил Иванович',
   Timestamp('2023-11-01 00:00:00'),
   np.float64(63584.0),
   np.float64(1.4467000340833647)],
  [Timestamp('2023-11-01 00:00:00'),
   np.float64(164126.47),
   'Кузнецов Михаил Иванович',
   Timestamp('2023-12-01 00:00:00'),
   np.float64(170423.39),
   np.float64(1.0383662671840808)]],
 'Федорова Марина Васильевна': [],
 'Петрова Анна Дмитриевна': []}

Сформируем новую таблицу из первого полученного словаря.

In [34]:
# создаем пустой список для хранения данных
data_list_1 = []

# перебираем все записи в словаре
for manager, records in dict_k_1.items():
    for record in records:
        # извлекаем значения в нужном порядке
        last_month = record[0]
        revenue_1_month_ago = record[1]
        manager = record[2]
        current_month = record[3]
        revenue_current_month = record[4]
        k_1 = record[5]
        
        # добавляем запись в общий список
        data_list_1.append({
            'manager': manager,
            'last_month': last_month,
            'revenue_1_month_ago': revenue_1_month_ago,
            'current_month': current_month,
            'revenue_current_month': revenue_current_month,
            'k_1': k_1,
            'year': current_month.year
        })

# создаем датафрейм
df_1 = pd.DataFrame(data_list_1)

# сортируем по менеджеру и дате платежа
df_1.sort_values(by=['manager', 'last_month'], inplace=True)

# отображаем результат
df_1.head()

,manager,last_month,revenue_1_month_ago,current_month,revenue_current_month,k_1,year
36,Васильев Артем Александрович,2022-11-01,582479.00,2022-12-01,254545.00,0.437003,2022
37,Васильев Артем Александрович,2022-12-01,1663970.18,2023-01-01,1012761.60,0.608642,2023
38,Васильев Артем Александрович,2023-01-01,827225.00,2023-02-01,874015.00,1.056563,2023
39,Васильев Артем Александрович,2023-02-01,991467.42,2023-03-01,621897.55,0.627250,2023
40,Васильев Артем Александрович,2023-03-01,796055.45,2023-04-01,152640.00,0.191745,2023

Сформируем новую таблицу из второго полученного словаря.

In [35]:
data_list_2 = []

for manager, records in dict_k_2.items():
    for record in records:
        last_last_month = record[0]
        revenue_2_month_ago = record[1]
        manager = record[2]
        current_month = record[3]
        revenue_current_month = record[4]
        k_2 = record[5]
        
        data_list_2.append({
            'manager': manager,
            'last_last_month': last_last_month,
            'revenue_2_month_ago': revenue_2_month_ago,
            'current_month': current_month,
            'revenue_current_month': revenue_current_month,
            'k_2': k_2,
            'year': current_month.year
        })

df_2 = pd.DataFrame(data_list_2)

df_2.sort_values(by=['manager', 'last_last_month'], inplace=True)

df_2.head()

,manager,last_last_month,revenue_2_month_ago,current_month,revenue_current_month,k_2,year
37,Васильев Артем Александрович,2022-12-01,582479.00,2023-01-01,351740.00,0.603867,2023
38,Васильев Артем Александрович,2023-01-01,1663970.18,2023-02-01,1144844.69,0.688020,2023
39,Васильев Артем Александрович,2023-02-01,827225.00,2023-03-01,982114.08,1.187239,2023
40,Васильев Артем Александрович,2023-03-01,991467.42,2023-04-01,609954.00,0.615203,2023
41,Васильев Артем Александрович,2023-04-01,796055.45,2023-05-01,113617.30,0.142725,2023

# 5. Формирование файлов

Выгрузим отчет по первому коэффиценту.

In [36]:
# коэффициент пролонгации для каждого менеджера по месяцам
manager_month_1 = pd.pivot_table(df_1, values='k_1', index='manager', columns='current_month', aggfunc='mean')
# коэффициент пролонгации для каждого менеджера по годам
manager_year_1 = pd.pivot_table(df_1, values='k_1', index='manager', columns='year', aggfunc='mean')
# коэффициент пролонгации для отдела по месяца
department_month_1 = pd.pivot_table(df_1, values='k_1', columns='current_month', aggfunc='mean').rename(index={'k_1': 'Отдел'})
# коэффициент пролонгации для отдела по годам
department_year_1 = pd.pivot_table(df_1, values='k_1', columns='year', aggfunc='mean').rename(index={'k_1': 'Отдел'})

# сохраним файлы в формате csv
manager_month_1.to_csv('data/report/manager_month_1.csv')
manager_year_1.to_csv('data/report/manager_year_1.csv')
department_month_1.to_csv('data/report/department_month_1.csv')
department_year_1.to_csv('data/report/department_year_1.csv')

Выгрузим отчет по второму коэффиценту.

In [37]:
# коэффициент пролонгации для каждого менеджера по месяцам
manager_month_2 = pd.pivot_table(df_2, values='k_2', index='manager', columns='current_month', aggfunc='mean')
# коэффициент пролонгации для каждого менеджера по годам
manager_year_2 = pd.pivot_table(df_2, values='k_2', index='manager', columns='year', aggfunc='mean')
# коэффициент пролонгации для отдела по месяца
department_month_2 = pd.pivot_table(df_2, values='k_2', columns='current_month', aggfunc='mean').rename(index={'k_2': 'Отдел'})
# коэффициент пролонгации для отдела по годам
department_year_2 = pd.pivot_table(df_2, values='k_2', columns='year', aggfunc='mean').rename(index={'k_2': 'Отдел'})

# сохраним файлы в формате csv
manager_month_2.to_csv('data/report/manager_month_2.csv')
manager_year_2.to_csv('data/report/manager_year_2.csv')
department_month_2.to_csv('data/report/department_month_2.csv')
department_year_2.to_csv('data/report/department_year_2.csv')

Сохраним общую таблицу для дашборда.

In [38]:
df_1.to_csv('data/report/k_1.csv')
df_2.to_csv('data/report/k_2.csv')